- page_title "#{@merge_request.title} (#{merge_request.to_reference}", "Merge Requests"
= render "header_title"

.merge-request
  = render "projects/merge_requests/show/mr_title"
  = render "projects/merge_requests/show/mr_box"

  .alert.alert-danger
    %p
      We cannot render this merge request properly because
      - if @merge_request.for_fork? && !@merge_request.source_project
        fork project was removed
      - elsif !@merge_request.source_branch_exists?
        %span.label.label-inverse= @merge_request.source_branch
        does not exist in
        %span.label.label-info= @merge_request.source_project_path
      - elsif !@merge_request.target_branch_exists?
        %span.label.label-inverse= @merge_request.target_branch
        does not exist in
        %span.label.label-info= @merge_request.target_project_path
      - else
        of internal error

    %strong
      Please close Merge Request or change branches with existing one

